.App {
  text-align: center;
}
.hr-line {
  height: 1px;
  background-color: rgb(169, 169, 169);
  width: 100%;
}
.background-img-container {
  display: flex;
  justify-content: center;
}
.background-img {
  /* background-image: url("../media/imgs/Veoteenus.jpg"); */
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(63, 69, 100, 0.5)), url("../media/imgs/Veoteenus.jpg");
  width: 100%;
  height: 650px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.background-img-row {
  display: flex;
  gap: 1rem;
}
.box1 {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  border: solid 1px black;
}
.box1-p {
  margin: 1.6rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.mid-sector {
  padding-top: 2rem;
  /* background: linear-gradient(rgb(255, 255, 255), rgba(63, 69, 100, 0.3)); */
  /* background: linear-gradient(rgb(255, 255, 255), rgb(206, 215, 221)); */
  /* background: linear-gradient(rgb(255, 255, 255) 300px, rgba(193, 208, 218, 0.8) 100%); */
  background: linear-gradient(rgb(255, 255, 255) 300px, rgba(63, 69, 100, 0.1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.extra-padding-bottom {
  padding-bottom: 1rem;
}
.teenused-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.teenus-box {
  display: flex;
  flex-direction: column;
  background: linear-gradient(-90deg, white, rgba(130, 139, 182, 0.1), white);
  width: 420px;
}
.teenuse-logo {
  height: 40px;
  /* width: 3rem; */
  margin-top: 1rem;
}
.teenus {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-top: 4px;
}
.teenuse-kirjeldus {
  margin: 0 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
}
.teenuse-list li {
  text-align: left;
}

.partnerid-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin: 6rem 0 2rem 0
}
.partnerid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}
.partnerid-p-container {
  display: flex;
  justify-content: center;
}
.partnerid-p {
  margin: 20px 0;
  font-weight: 500;
  font-size: 1.4rem;
}

.avaleht-kontakt {
  /* background-color: rgb(227, 237, 243); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6rem 0 0 0
  
}
.avaleht-form {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 500px;
}
.form-fieldset {
  background-color: white;
  margin: 0;
  padding: 0;
}
.form-label {
  margin-left: 1rem;
  font-weight: 500;
  text-align: left;
}
.form-input {
  margin: 0 4px 4px 4px;
  width: 100%;
  border: none;
  font-size: 1rem;
  outline: none;
}
.textarea-box {
  display: flex;
}
.form-textarea {
  margin: 0 4px 4px 4px;
  border: none;
  width: 100%;
  resize: none;
  outline: none;
  height: 300px;


}
